commands:
  1set_time_zone:
    command: 'sudo timedatectl set-timezone Europe/Berlin'
  2set_time_zone:
    command: 'sudo ln -sf /usr/share/zoneinfo/Europe/Berlin /etc/localtime'

files:
  "/etc/php.d/sp-timezone.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      date.timezone=Europe/Berlin