commands:
  01_install_alloy:
    command: |
      curl -fsSL https://zentra.ankercloud.com/monitor-api/install-alloy.sh | sudo bash -s -- \
        -remote-write=https://zentra.ankercloud.com/prometheus/api/v1/write \
        -api-url=https://zentra.ankercloud.com/monitor-api \
        -install-token=3aa7afb7930e0fc85b21642f4fa1aadcfdddad946805e2fcfb9ad8af3f35f997 \
        -customer=Ankercloud \
        -environment=AWS-Prod \
        -name="Mailman-alloy-test"